/* Kontainer utama */
body {
    font-family: "Plus Jakarta Sans", serif;
    background-color: #f0f0f0; /* Latar belakang terang */
    color: #333333; /* Warna teks gelap */
    margin: 0;
    padding: 0;
}

/* Heading */
h2 {
    text-align: center;
    font-size: 32px;
    color: #333333; /* Warna judul */
    margin-top: 50px;
}

/* Form Kontainer */
form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff; /* Latar form terang */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333333; /* Warna label */
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #cccccc; /* Warna border input */
    background-color: #f9f9f9; /* Latar belakang input terang */
    color: #333333; /* Warna teks input gelap */
    border-radius: 4px;
}

form input:focus {
    border-color: #23272a; /* Border saat input difokuskan */
    outline: none;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #23272a;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #e69500; /* Warna button saat hover */
}

/* Tautan navbar */
.navbar a {
    color: #ffa31a; /* Warna teks navbar */
    text-decoration: none;
}

.navbar a:hover {
    color: #333333; /* Warna navbar saat hover */
}
